.checkout {
  display: flex;
  padding: 400px;

  margin-left: -300px;
  z-index: 1;


}

.checkout__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}





.checkout__title {
  margin-right: -50px;
  margin-top: -400px;
  margin-left: -15px;
  padding: 10px;
  color: white;
  border-bottom: 1px solid white;
  z-index: 1;
}

.checkout__right {
  margin-left: 80px;
  margin-top: -370px;
}



