.checkout {
  display: flex;
  padding: 10px;
  height: max-content;
}



.checkout__title {
  margin-right: 50px;
  margin-top: -5px;
  margin-left: 75px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.checkout__right {
  margin-left: 80px;
  margin-top: 10px;
}



