
.checkoutproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 70%;
  max-height: 400px;
  min-width: 100px;
  background-color: #f3f3f3;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1629666841661-da4438989c4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  z-index: 1;
  border-radius: 25px
}

.checkoutproduct__rating {
  display: flex;
}
.checkoutname {
  text-decoration: none;
}

.checkoutproduct > img {
  max-height: 800px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.checkoutproduct > button {
  background: #f0c14b;
  border: 1px solid;
  align-items: center;
  align-items: stretch;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutproduct__price {
  margin-top: 5px;
}

.checkoutproduct__info {
  
  height: 100px;
  margin-bottom: 15px;
  padding: 20px;

}
