.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 50px;
  margin-top: -5px;
  margin-left: 100px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.checkout__right {
  margin-left: 200px;
  margin-top: 10px;
}



