* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


.footer {
  color: white;
  padding: 70px 0;
 align-items: center;
  background-color: black;
}

.footer__container {
  max-width: 1170px;
  margin:auto;
  align-items: center;

}

.footer__row {
  display: flex;

}

ul {
  list-style: none;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__colTwo {
  width: 25%;
  padding: 0 15px;
}





