* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.footer {
  color: white;
  padding: 70px 0;
 
  background-color: black;
}

.footer__container {
  max-width: 1170px;
  margin:auto;
  align-items: center;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer__col {
  width: 25%;
  padding: 0 15px;
}

.footer__col h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
}

.footer__col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  box-sizing: border-box;
  width: 50px;
}

.footer__col ul li:not(:last-child){
  margin-bottom: 10px;
}

