
  
.single__container {
  width: 300px;

  display: flex;
  flex-direction: column;
  padding: 200px;

  border-radius: 300px; 
    /* border: 1px solid white;  */
  z-index: -1;
}


.name {
  text-decoration: none;
}



.single__image__product {
  display: flex;
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 100px;
  margin-left: -30px;
}



.singleproduct > button {
  display: flex;
  background: #f0c14b;
  border: 1px solid;

  /* align-items: stretch; */
  margin-top: -100px;
  margin-left: -500px;
  margin-right: 800px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.singleproduct__price {
  display: flex;
  margin-top: 500px;
  margin-right: -100px;
  margin-left: 100px;
}

.singleproduct__info {

  display: flex;

  margin-top: -200px;
 
}

.single__name {
  display: flex;
}

